.nav-link {
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 5px !important;
    padding-right: 15px !important;
    word-spacing: -5px;
}
.header_section {
    background-image: url(../images/banner-bg.png);
    background-position: center;
}
.banner_taital, .banner_text {
    font-family: 'Courier New', Courier, monospace;
}