.centerList {
  flex: 4;
  padding: 5px;
}

.headerAccount {
  margin-top: 10px;
}

.btn_round {
  cursor: pointer;
}

.createButton {
  font-size: 14px;
  position: absolute;
  right: 200px;
}

@media screen and (max-width: 500px) {
  .createButton {
    display: block;
    margin-bottom: 30px;
    position:relative;
  }
}